.nav_bar_container {
  position: fixed;
  background-color: blue;
  width: 100%;
  height: 100px;
  border-bottom: solid 2px #ececec;
  z-index: 1;
}

.nav_bar_content_box {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  height: 50px;
  margin: auto;
  padding: 25px 0;
  background: teal;
}

#nav_bar_quora_logo {
  height: 75%;
  width: auto;
}

#nav_bar_home_tab {
  display: flex;
  align-items:center;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;

}

#nav_bar_home_tab div img {
  width: 40px;
  height: 40px;
}

#nav_bar_home_tab div p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

#nav_bar_answer_tab {
  display: flex;
  align-items:center;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;

}

#nav_bar_answer_tab div img {
  width: 40px;
  height: 40px;
}

#nav_bar_answer_tab div p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

#nav_bar_notifications_tab {
  display: flex;
  align-items:center;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;

}

#nav_bar_notifications_tab div img {
  width: 40px;
  height: 40px;
}

#nav_bar_notifications_tab div p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

#search_bar input {
  height: 40px;
  width: 250px;
  border-radius: 5px;
}

#nav_bar_profile_tab img {
  width: 50px;
  height: 50px
}

#nav_bar_add_question_button {
  background-color: red;
  color: white;
  height: 50px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  padding: 0 10px;
}

.hidden_div {
  height: 100px;
  display: flex;
  flex: 1 1 100%;

}
.page_content_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
  margin:auto;


}
.profile_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 100px;
  background: red;
  width: 75%;
  height: 3000px

}

#profile_details {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#profile_box1{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: column;
  background: url(../img/profile_placeholder.png) no-repeat center center ;
  background-size:auto;
  height: 100%;
  width: 30%
}

#profile_box1 p {
  width: 100%;
  height: 30px;
  background-color: grey;
  color: white;
  font-size: 15px;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

#profile_box2 {
  background-color: purple;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 65%;
  padding: 2.5%;

}
#profile_box2 p {
  font-size: 40px;
  font-family: sans-serif;
  text-align: left;
}

#profile_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-end;
  width: 100%;
}

#profile_content aside {
  width: 20%;
  background-color: yellow;
  display: flex;
  justify-content: center;
}

#profile_content div {
  width: 80%;
  background-color: #F8F;
  display: flex;
  flex-direction: column;

}

.profile_answer_display {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #ececec;
  width: 90%;
  border-radius: 5px;
  margin: 10px 0;
}

#answer_edit_button {
  background-color: purple;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  height: 40px;
  margin: 0 10px;
  padding: 0 10px;
  text-align: center;
}

#answer_delete_button {
  background-color: red;
  border-radius: 10px;
  font-size: 15px;
  color: white;
  height: 40px;
  margin: 0 10px;
  padding: 0 10px;
  text-align: center;
}
.side_bar_container {
  background-color: green;
  width: 25%;
  height: 1000px;
}
