<nav class="nav_bar_container">
  <section class="nav_bar_content_box">
    <div><img id="nav_bar_quora_logo" src="/img/quora_logo.png" alt="nav bar quora logo"></div>
    <div id="nav_bar_home_tab">
      <div>
        <a href="/home"><img src="/img/menu_icon.png" alt="quora nav bar home tab"></a>
      </div>
      <div>
        <p>Home</p>
      </div>
    </div>
    <div id="nav_bar_answer_tab">
      <div>
        <img src="/img/answer_icon.png" alt="quora nav bar answer tab">
      </div>
      <div>
        <p>Answer</p>
      </div>
    </div>
    <div id="nav_bar_notifications_tab">
      <div>
        <img src="/img/notification_icon.png" alt="quora nav bar notification tab">
      </div>
      <div>
        <p>Notifications</p>
      </div>
    </div>
    <div>
      <form action="/search" method="post" id="search_bar">
        <input type="text" name="search_bar" value="" placeholder="Search Quora">
      </form>
    </div>
    <div id="nav_bar_profile_tab">
      <img src="/img/profile_placeholder.png" alt="profile picture tab">
    </div>
    <div id="nav_bar_add_question_button">
      <p>Add Question</p>
    </div>
  </section>
</nav>
