<div class="page_container">
  <section class="user_login_container">
    <div class="title_container">
      <div><img src="/img/quora_logo.png" class="quora_title_logo"></div>
      <div><p class="tag_line">A place to share knowledge and better understand the world</p></div>
    </div>
    <div class="login_forms_container">
    </div>
    <div class="foot_link1">
    </div>
    <div class="foot_link2">
    </div>
  </section>
</div>
