<% if logged_in? %>
<nav class="nav_bar_container">
  <section class="nav_bar_content_box">
    <div><img id="nav_bar_quora_logo" src="/img/quora_logo.png" alt="nav bar quora logo"></div>
    <div id="nav_bar_home_tab">
      <div>
        <a href="/home"><img src="/img/menu_icon.png" alt="quora nav bar home tab"></a>
      </div>
      <div>
        <p>Home</p>
      </div>
    </div>
    <div id="nav_bar_answer_tab">
      <div>
        <img src="/img/answer_icon.png" alt="quora nav bar answer tab">
      </div>
      <div>
        <p>Answer</p>
      </div>
    </div>
    <div id="nav_bar_notifications_tab">
      <div>
        <img src="/img/notification_icon.png" alt="quora nav bar notification tab">
      </div>
      <div>
        <p>Notifications</p>
      </div>
    </div>
    <div>
      <form action="/search" method="post" id="search_bar">
        <input type="text" name="search_bar" value="" placeholder="Search Quora">
      </form>
    </div>
    <div id="nav_bar_profile_tab">
      <img src="/img/profile_placeholder.png" alt="profile picture tab">
    </div>
    <div id="nav_bar_add_question_button">
      <p>Add Question</p>
    </div>
  </section>
</nav>
<div class="hidden_div"></div>
<seciton class="question_edit_container">
  <div class="question_edit_title">
    <h1>Update your question</h1>
  </div>
  <div class="question_edit_form_container">
    <% @edit = Question.find(params[:id]) %>
    <div>
      <div id="edit_form_question_title">
        <p>Q: <%=@edit.title%></p>
      </div>
      <div>
        <form id="edit_form_box" action="/questions/<%=@edit.id%>" method="post">
          <p>New question</p>
          <input id="edit_form_box_question_title" type="text" name="title" placeholder="Modify your question title here" >
          <p>New description</p>
          <input id="edit_form_box_question_description" type="textarea" name="description" placeholder="Modify your question description here"></br>
          <input id="edit_form_submission_button" type="submit" value="Update Question">
        </form>
      </div>
    </div>
  </div>
</section>
<%else%>
<%redireict '/'%>
<%end%>
