<nav class="nav_bar_container">
  <section class="nav_bar_content_box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </section>
</nav>
<div class="page_content_container">
  <section class="profile_container">
      <p> this is profile box </p>
  </section>
  <aside class="side_bar_container">
      <p> this is side bar </p>
  </aside>
</div>
